'organizer' field should not escape according to the escape rules defined in RFC5545

https://github.com/sebbo2002/ical-generator/blob/a124fb5a74f05397e706683204584d1fca34b264/src/event.ts#L1597-L1610)

I find the definition in [RFC5545 section 3.8.4.3](https://www.rfc-editor.org/rfc/rfc5545#section-3.8.4.3), `organizer` field is a [CAL-ADDRESS type value](https://www.rfc-editor.org/rfc/rfc5545#section-3.3.3) which should not encode by RFC5545: 

> No additional content value encoding (i.e., BACKSLASH character encoding, see [Section 3.3.11](https://www.rfc-editor.org/rfc/rfc5545#section-3.3.11)) is defined for this value type.

And `CAL-ADDRESS` is a Uri defined in [RFC3986](https://www.rfc-editor.org/rfc/rfc3986), according to [RFC3986 section-2.2 reserved character](https://www.rfc-editor.org/rfc/rfc3986#section-2.2): 
> If data for a URI component would conflict with a reserved character's purpose as a delimiter, then the conflicting data must be percent-encoded before the URI is formed.

### reproduce
```js
const ical = require('ical-generator');
const calendar = ical()
const event = calendar.createEvent({ start: new Date(), end: new Date(), organizer: { name: "foo, bar", email: "foobar@example.com"});
console.log(event.toString())
```

#### actual
> ORGANIZER;CN="foo\\, bar":mailto:foobar@example.com\r\n

#### expect
> ORGANIZER;CN="foo%2c%20bar":mailto:foobar@example.com\r\n


You are right, `ORGANIZER` is of type `CAL-ADDRESS` and therefore should not be escaped. But these characters should not occur in an address (the part after `:mailto`, so I think the problem can be ignored, am I right?

The other part is formatting of the common name. In fact there seems to be an error there. Only `"` and `\` should be escaped as far as I understand the spec, I fixed that in develop and double checked it with Apple's iCal implementation. 

Does this solve your issue? You can use this version by running `npm i ical-generator@next`