Standard Time Zones

[Section 3.2.19 of RFC5545](https://tools.ietf.org/html/rfc5545#section-3.2.19) specifies a "Time Zone Identifier". Example:

> ```
>  DTSTART;TZID=America/New_York:19980119T020000
>  DTEND;TZID=America/New_York:19980119T030000
> ```

Ideally, this could be controlled via the existing `setTZ` method, but I don't think the features are compatible. Although the spec notes that there is no convention for the value of `TZID`, Thunderbird (for example) accepts values like "America/New_York" but rejects values like "UTC-5" (the latter being the form documented for `setTZ`). I think this makes the setting incompatable with the `setTZ` method exposed by this library.

@sebbo2002 Would you be interested in a `timeZone` option for `addEvent`? Or do you have ideas for an alternate implementation?


Hi im using iCal for generate and sharing the calendar invite to client who is in different time zone. The output I'm getting is wrong time. Could you guys please help me to solve this